
<div id="fondo">
<div id="simon">
	<h1 class="titular">{{titulo}}</h1>
	<table>
		<tr>
		<td id="verde" ng-click="play('verde')">verd</td>
		<td id="rojo" ng-click="play('rojo')">roig</td>
		</tr>
		<tr>
		   <td id="circulo">{{colores}}<h1 id="titulo" class="centro"></h1></td>
		</tr>
		<tr>
		<td id="amarillo" ng-click="play('amarillo')">groc</td>
		<td id="azul" ng-click="play('azul')">blau</td>
		</tr>
	</table>
	<button type="button" ng-click="borra()" class="btn btn-success">Borrar</button>
</div>	

</div>